.wlstitle{
   text-align:center;

}
.wlsh2{
  color:#3aaebd;
  font-size:25px;
}
.wlswrap{
  margin-top:30px;
}
.wlscontent{
  text-align:center;
  margin-top:15px;
}
.wlscontent h3{
  font-size:19px;
}

.wlsimg{
  margin-top:20px;
}
.anniu{
  background-color:#c44a73;
  width:200px;
  height:50px;
  font-size:20px;
  color:#fff;
  border:none;
  border-radius:30px;
}

.wlsinput{
  background-color:#eeeeee;
  width:87%;
  height:35px;
  border:none;
}
.wlsinputtext{
  background-color:#eeeeee;
  width:87%;
  height:70px;
  border:none;
}






.logo {
  width: 1012px;
  height: 39px;
  margin: 64px auto 24px;
  line-height: 39px;
}
.logo-warp {
  font-size: 14px;
  color: #c44972;
  line-height: 25px;
}

.logo-warp img {
  vertical-align: bottom;
}

.logo-warp b {
  margin-left: 5px;
}

.phone-warp {
  background: url(../img/icon_phone.png) no-repeat 0 0;
  text-indent: 39px;
  font-size: 33px;
  font-weight: bold;
  color: #c44972;
}

#home .swiper {
  position: relative;
  height: auto;
  width: 100%;
  margin: 24px auto 0;
}

#home .swiper-container {
  width: 100%;
  height: 100%;
}

#home .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#home .swiper img {
  width: 100%;
  height: auto;
}


@media (min-width: 767.99px) {
  .navbar {
    width: 1000px;
    margin: auto;
  }
}

.navbar {
  background-color: #1daabe;
}

.navbar li a,
.navbar li:active {
  text-decoration: none;
  color: #fff !important;
}

.navbar ul {
  width: 100%;
}

/*手机屏幕适配*/

@media (max-width: 600px) {
  body {
    max-width: 600px;
  }
  .wrap,
  .title,
  .contact,
  .contact p {
    width: 100% !important;
  }
}

@media (min-width: 601px) {
  .navbar li {
    width: 12.5%;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
}

/*.nav{
	position: absolute;
	height: 48px;
	width: 1012px;
	line-height: 48px;
	top: 164px;
	left: 50%;
	z-index: 2;
	margin-left: -506px;
	background-color: #1daabe;
}
.nav li{
	width: 12.5%;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.nav li a,.nav li:active{
	text-decoration: none;
	color: #fff;
}*/

section {
  width: 100%;
  overflow: hidden;
  color: #3e3a39;
}

section .wrap {
  width: 1012px;
  height: auto;
  margin: 90px auto 0;
}

.wrap>.title {
  height: 110px;
  width: 100%;
  position: relative;
}

.title h2 {
  font-size: 38px;
  font-weight: 500;
  line-height: 105px;
  text-align: center;
}

.wrap>.title::after {
  content: '';
  width: 56px;
  height: 3px;
  background-color: #1daabe;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -28px;
}

.content {
  /*width: 948px;*/
  margin: 52px auto 105px;
  font-size: 16px;
}

.content p {
  text-indent: 28px;
  line-height: 28px;
  word-break: break-word;
  text-align: justify;
  text-align-last: left;
  letter-spacing: 1px;
}

.content .p-justify {
  text-align-last: left;
  text-align: justify;
}

.bg-block {
  width: 100%;
  overflow: hidden;
}

.f8 {
  background-color: #f8f8f8;
  padding: 30px 15px;
  text-align: center;
}

.f8 img {
  margin: 0 auto;
  width: 950px;
}

.f8 .content {
  margin-bottom: 70px;
}

.chinses h2 {
  background-image: url(../img/chinese.png);
}

#chinses {
  padding-bottom: 100px;
  position: relative;
}

#chinses .yuwenbg {
  height: 389px;
  width: 100%;
  background-color: #c44972;
}

.yuwenbg .wrap {
  position: absolute;
  width: 1012px;
  height: 516px;
  left: 50%;
  bottom: 205px;
  margin-left: -506px;
}


/*.yuwenbg img{
	height: 490px;
	width: auto;
}*/

.c4 {
  height: 516px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c4 .yuwen {
  position: absolute;
  background-position: 0 0;
}

#maths .wrap {
  margin-top: 50px;
}

.maths h2 {
  background-image: url(../img/maths.png);
}

.maths .content {
  position: relative;
}

.maths .content .hexin {
  position: absolute;
  top: 270px;
  left: 275px;
  color: #fff;
  text-indent: 0;
  font-size: 18px;
  font-weight: 600;
}

.maths .content img {
  margin-top: 60px;
}

section .ad {
  width: 100%;
  height: 120px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  line-height: 120px;
  text-align: center;
  background-color: #1daabe;
}

.fff {
  background-color: #fff;
}

.english h2 {
  background-image: url(../img/english.png);
}

.english .content {
  margin-bottom: 40px;
}

#english .f8 .title {
  width: 100%;
  position: relative;
}

#english .f8 .title h2 {
  font-size: 38px;
  font-weight: 100;
  text-align: center;
  margin-top: 90px;
  line-height: 1;
  background: none;
}

#english .f8 .title::after {
  content: '';
  height: 3px;
  background-color: #1daabe;
  width: 175px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -175px;
}

#english .f8 .title::before {
  content: '';
  width: 175px;
  height: 3px;
  background-color: #c44972;
  position: absolute;
  bottom: -20px;
  left: 50%;
}

#english .system {
  position: relative;
  height: 483px;
  width: 1012px;
  margin: 60px auto 70px;
  background: url(../img/tixi.jpg) no-repeat 50% 0;
}

.system p {
  position: absolute;
  width: 246px;
  height: 62px;
  border-radius: 62px;
  font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 62px;
  background-color: #e993a4;
}

.system .s01 {
  left: 51px;
  bottom: 388px;
}

.system .s02 {
  left: 3px;
  bottom: 260px;
  background-color: #72c8d5;
}

.system .s03 {
  left: 3px;
  bottom: 133px;
}

.system .s04 {
  left: 51px;
  bottom: 5px;
  background-color: #72c8d5;
}

.system .s05 {
  right: 52px;
  left: auto;
  bottom: 388px;
  background-color: #72c8d5;
}

.system .s06 {
  right: 3px;
  left: auto;
  bottom: 260px;
}

.system .s07 {
  right: 3px;
  left: auto;
  bottom: 133px;
  background-color: #72c8d5;
}

.system .s08 {
  right: 52px;
  left: auto;
  bottom: 5px;
}

section .onetoone {
  margin-top: 136px;
}

.onetoone h2 {
  background-image: url(../img/onetoone.png);
}

#onetoone .c4 {
  height: 400px;
  margin-top: 65px;
  background-color: #c44972;
  overflow: initial;
}

.c4 h3 {
  font-size: 31px;
  font-weight: 100;
  text-align: center;
  margin: 30px auto;
}

.c4 .wrap {
  height: 330px;
  margin-top: 0;
}

.c4 dl dt {
  width: 315px;
  height: 330px;
  position: relative;
  float: left;
}

.c4 dl dt img {
  position: absolute;
  top: -97px;
  z-index: 1;
}

.c4 dl dd {
  width: 695px;
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  text-indent: 28px;
  float: left;
}

.c4 dd ul {
  height: 134px;
  margin-left: 70px;
}

.c4 dd ul li {
  width: 134px;
  height: 133px;
  margin: 50px 28px;
  background: url(../img/icon_chin.png) no-repeat 0 0;
  float: left;
}

.c4 .yuwen {
  background-position: 0 0;
}

.c4 .yuedu {
  background-position: 0 -137px;
}

.c4 .xiezuo {
  background-position: 0 -274px;
}

#onetoone .c4 dl dt img {
  top: -148px;
}

#onetoone .c4 dl dd p {
  padding: 0 33px 0 60px;
}

#onetoone .c4 ul {
  margin: 15px 0 100px 40px;
}

#onetoone .c4 li {
  width: 167px;
  height: 43px;
  margin: 16px 22px;
  line-height: 43px;
  font-size: 18px;
  background: none;
  border: 1px solid #fff;
}

.c4 li i {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin: auto 25px 0 -15px;
  vertical-align: middle;
  background: url(../img/icon_oto.png) no-repeat 0 0;
}

.c4 li .icon_oto01 {
  height: 22px;
}

.c4 li .icon_oto02 {
  height: 22px;
  background-position: 0 -23px;
}

.c4 li .icon_oto03 {
  height: 27px;
  width: 26px;
  background-position: 0 -48px;
}

.c4 li .icon_oto04 {
  height: 25px;
  width: 26px;
  background-position: 0 -75px;
}

.c4 li .icon_oto05 {
  height: 25px;
  width: 26px;
  background-position: 0 -99px;
}

.c4 li .icon_oto06 {
  height: 25px;
  width: 26px;
  background-position: 0 -125px;
}

.am h2 {
  background-image: url(../img/am.png);
}

.am .content {
  text-align: center;
}

.am .content p {
  text-align: left;
  margin-bottom: 30px;
}

#am .c4 {
  height: 569px;
  margin-top: -30px;
  background: url(../img/img7.png) repeat 0 0;
}

.support h2 {
 
}

.support ul {
  margin-top: 44px;
}

.support li {
  height: 231px;
  width: 191px;
  color: #fff;
  float: left;
  margin: 7px 5px;
  border-radius: 10px;
}

.support li .bg {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .3);
  cursor: pointer;
}

.support li .bgred {
  background-color: rgba(202, 95, 131, .8);
}

.support li:nth-child(1) {
  background-image: url(../img/sup01.png);
  margin-left: 0;
}

.support li:nth-child(2) {
  background-image: url(../img/sup02.jpg);
}

.support li:nth-child(3) {
  background-image: url(../img/sup03.jpg);
}

.support li:nth-child(4) {
  background-image: url(../img/sup04.jpg);
}

.support li:nth-child(5) {
  background-image: url(../img/sup05.jpg);
}

.support li:nth-child(6) {
  background-image: url(../img/sup06.jpg);
  margin-left: 0;
}

.support li:nth-child(7) {
  background-image: url(../img/sup07.jpg);
}

.support li:nth-child(8) {
  background-image: url(../img/sup08.jpg);
}

.support li:nth-child(9) {
  background-image: url(../img/sup09.jpg);
}

.support li:nth-child(10) {
  background-image: url(../img/sup10.jpg);
}

.sup-content {
  position: absolute;
  bottom: 20px;
  left: 18px;
  height: 70px;
  width: 115px;
  line-height: 1.5;
  /* 	display: none */
}

.support .title {
  font-size: 20px;
}

.sup-content .describe {
  font-size: 12px;
}

.sup-content a {
  display: inline-block;
  height: 21px;
  width: 21px;
  background: url(../img/a.png) no-repeat;
}

.sup-content-desc {
  display: none;
  text-align: center;
}

.support li .sup-content-desc span {
  display: inline-block;
  width: 65%;
  height: 140px;
  border-bottom: 1px solid #fff;
}

.sup-content-desc span b {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-top: 25px;
  background: url(../img/icon_sup.png) no-repeat;
}

.support li:nth-child(2) b {
  background-image: url(../img/icon_sup.png);
  background-position: -75px 0;
}

.support li:nth-child(3) b {
  background-image: url(../img/icon_sup.png);
  background-position: -150px 0;
}

.support li:nth-child(4) b {
  background-image: url(../img/icon_sup.png);
  background-position: -240px 0;
}

.support li:nth-child(5) b {
  background-image: url(../img/icon_sup.png);
  background-position: -310px 0;
}

.support li:nth-child(6) b {
  background-image: url(../img/icon_sup.png);
  background-position: 0 -75px;
}

.support li:nth-child(7) b {
  background-image: url(../img/icon_sup.png);
  background-position: -75px -75px;
}

.support li:nth-child(8) b {
  background-image: url(../img/icon_sup.png);
  background-position: -159px -75px;
}

.support li:nth-child(1) b {
  background-image: url(../img/icon_sup.png);
  background-position: -240px -75px;
}

.support li:nth-child(10) b {
  background-image: url(../img/icon_sup.png);
  background-position: -310px -75px;
}

.sup-content-desc .describe {
  margin-top: 10px;
  line-height: 1.8;
}

.cooperation h2 {
  background-image: url(../img/coop.png);
}

.cooperation .content {
  margin-bottom: 72px;
}

.cooperation ul {
  width: 100%;
  height: 239px;
  background: url(../img/coop_bg.png) no-repeat;
}

.cooperation li {
  height: 90px;
  text-align: center;
  color: #fff;
  float: left;
  line-height: 1.5;
  margin: 112px 0 0;
  padding: 0 20px;
}

.cooperation li:nth-child(2) {
  margin-left: 102px;
}

.cooperation li:nth-child(3) {
  margin-left: 96px;
  margin-right: 0;
}

.cooperation li:nth-child(4) {
  margin-left: 84px;
  margin-right: 0;
}

.cooperation li .title {
  font-size: 19px;
}

.cooperation li .detail {
  font-size: 14px;
}

.contact h2 {
  background-image: url(../img/contact.png);
}

.daabe {
  margin-top: 95px;
  background-color: #1daabe;
}

.contact {
  color: #fff;
}

.daabe .wrap>.title::after {
  background-color: #fff;
}

.address {
  height: 170px;
  width: 760px;
  color: #1daabe;
  font-size: 22px;
  margin: 35px auto;
  background-color: #fff;
  border-radius: 10px;
}

.address div {
  float: left;
  padding: 48px 55px;
  line-height: 1.8;
  text-align: center;
}

.addr {
  position: relative;
}

.addr::after {
  content: '';
  width: 1px;
  height: 65px;
  border-right: 1px solid #1daabe;
  position: absolute;
  right: 0;
  bottom: 45px;
}

.addr p:nth-child(2) {
  border-top: 1px solid #1daabe;
  font-size: 16px;
}

.addr-phone p:nth-child(2) {
  border-top: 1px solid #1daabe;
  line-height: 1;
}

.addr-phone .phone-warp {
  background: url(../img/phone02.png) no-repeat 50% 50%;
}

.ad .wrap {
  font-weight: 100
}


/*
	咨询框样式
*/

.getinfo {
  height: 48px;
  width: 179px;
  line-height: 48px;
  font-size: 19px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #4e4e4e;
  background-color: #fff;
  color: #1daabe;
}

.zxkc {
  height: 40px;
  width: 171px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  display: inline-block;
  background-color: #1daabe;
  border-radius: 5px;
  position: absolute;
  bottom: 65px;
  left: 50%;
  margin-left: -85px;
}

.zxen {
  background-color: #e44959;
  margin-left: 133px;
  bottom: 338px;
}

.img-responsive {
  margin: auto;
}